*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

html,
body{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 89, 232, 0.908);
}

.game{
  width: 80%;
  height: 90%;
  background-color: rgb(51, 165, 241);
  position: relative;
  overflow: hidden;
}

.bird-png{
  height: 80px;
  position: absolute;
  object-fit: cover;
}

.pipe{
  width: 40px;
  background-color: green;
  position: absolute;
}
