* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  }

body {
min-height: 100vh;
background: linear-gradient(135deg, #f46e09, #f7e949);
display: flex;
justify-content: center;
align-items: start;
padding-top: 50px;
}

.container {
width: 420px;
background: white;
padding: 25px;
border-radius: 12px;
box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

h1 {
text-align: center;
margin-bottom: 10px;
}

p {
text-align: center;
color: gray;
margin-bottom: 20px;
}

.task-form,
.controls {
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 20px;
}

#task-input,
#search-input,
#status-select,
#filter-select {
padding: 10px;
border: 1px solid #ccc;
border-radius: 6px;
outline: none;
}

#task-input:focus,
#search-input:focus,
#status-select:focus,
#filter-select:focus {
border-color: orange;
}

#add-task-btn {
padding: 10px;
border: none;
background: orange;
color: white;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
}

#add-task-btn:hover {
background: #ff7b00;
}

#task-list {
list-style: none;
}

#task-list li {
background: #f5f5f5;
padding: 12px;
margin-bottom: 10px;
border-radius: 6px;
border-left: 5px solid orange;
}

.progress {
  color: orange;
  font-weight: bold;
}

.done {
  color: limegreen;
  font-weight: bold;
}

.later {
  color: crimson;
  font-weight: bold;
}

.task-status {
font-size: 13px;
color: gray;
margin-top: 5px;
}

@media (max-width: 500px) {
.container {
width: 90%;
}
}
