* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  color: white;
  font-size: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #101010;
}

nav {
  height: 90px;
  width: 100%;
  background-color: rgb(65, 174, 225);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.part {
  height: 100%;
  width: 20%;
  background-color: royalblue;
}

.part:nth-child(2) {
  width: 50%;
}

section {
  height: calc(100% - 90px - 80px);
  width: 100%;
  background-color: rgb(9, 104, 99);
  display: flex;
}

.left {
  height: 100%;
  width: 40%;
  background-color: rgb(107, 37, 87);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-top {
  height: 40%;
  width: 100%;
  background-color: rgb(202, 23, 97);
}

.left-bottom {
  height: 20%;
  width: 100%;
  background-color: rgb(118, 23, 202);
}

.right {
  height: 100%;
  width: 60%;
  background-color: rgb(107, 93, 37);
}

footer {
  height: 80px;
  width: 100%;
  background-color: rgb(254, 144, 47);
}
