* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  color: white;
  font-size: 50px;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav {
  height: 80px;
  width: 100%;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.part1 {
  height: 100%;
  width: 15%;
  background-color: royalblue;
}

.part2 {
  height: 100%;
  width: 40%;
  background-color: seagreen;
}

.part3 {
  height: 100%;
  width: 20%;
  background-color: rgb(175, 22, 175);
}

#center {
  width: 100%;
  height: 20%;
  background-color: tan;
}

#bottom {
  height: 100px;
  width: 100%;
  background-color: lightseagreen;
}
