/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;

  grid-template-areas:
    "top-center top-center top-center"
    "left-center center-bottom right-center"
    "left-bottom center-bottom right-bottom";
}

.top-center {
  background-color: lightseagreen;
  grid-area: top-center;
}

.left-center {
  background-color: royalblue;
  grid-area: left-center;
}

.left-bottom {
  background-color: rgb(209, 209, 55);
  grid-area: left-bottom;
}

.center-bottom {
  background-color: crimson;
  grid-area: center-bottom;
}

.right-center {
  background-color: rgb(20, 184, 130);
  grid-area: right-center;
}

.right-bottom {
  background-color: hotpink;
  grid-area: right-bottom;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

html,
body{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-rows: 10% 60% 30%;
  grid-template-columns: 25% 25% 50%;
  gap: 10px;

  grid-template-areas:
  "header header header"
  "left-center left-center right"
  "left-bottom1 left-bottom2 right";
}


.header {
  background-color: lightseagreen;
  grid-area: header;
}

.left-center {
  background-color: royalblue;
  grid-area: left-center;
}

.right {
  background-color: rgb(209, 209, 55);
  grid-area: right;
}

.left-bottom1 {
  background-color: crimson;
  grid-area: left-bottom1;
}

.left-bottom2 {
  background-color: rgb(20, 184, 130);
  grid-area: left-bottom2;
}
























