* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 40% 40% 10%;
}

header {
  background-color: rgb(9, 116, 116);
  grid-column: 1/3;
}

.left-top {
  background-color: rgb(5, 81, 56);
  grid-column: 1/2;
}

.left-bottom {
  background-color: rgb(46, 130, 102);
  grid-column: 1/2;
}

.right {
  background-color: rgb(35, 35, 128);
  grid-row: 2/4;
  grid-column: 2/3;
}

footer {
  background-color: rgb(6, 90, 6);
  grid-column: 1/3;
}
